/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul.navbar-nav, .jumbotron h1 {
  font-family: 'Arvo', Courier, serif;
}

ul.navbar-nav {
  font-size: 13px;
}

.btn-lg {
  font-size: 2.25rem;
}

/** jumbotron box **/
.jumbotron {
  background-image: url('../images/hero_image.jpg');
}

.jumbotron h1 {
  margin-bottom: 50px;
}

.jumbotron p {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
